@media only screen and (max-width: 750px) {
  .dslogo {
    width: 50%;
    position: absolute;
    left: 45%;
  }
  .moblogos {
    width: 6%;
    margin-left: 15%;
    margin-top: 2%;
    filter: invert(1);
  }
  .linkedinlogomob:hover,
  .moblogos:hover {
    filter: invert(0);
  }
  .linkedinlogomob {
    width: 10%;
    margin-left: 15%;
    margin-top: 2%;
    filter: invert(1);
  }
  .alap {
    display: none;
  }
  .mobicons {
    margin-top: 10%;
  }
}
@media only screen and (min-width: 750px) {
  .dslogo {
    width: 20%;
  }
  .mediumlogo {
    width: 10%;
    filter: invert(1);
    margin-top: 5%;
  }
  .instalogo,
  .linkedinlogo,
  .twitterlogo {
    width: 10%;
    margin-right: 10%;
    margin-top: 5%;
    filter: invert(1);
  }
  .instalogo:hover,
  .linkedinlogo:hover,
  .twitterlogo:hover,
  .mediumlogo:hover {
    filter: invert(0);
  }

  .amob {
    display: none;
  }
  .iconleft {
    position: absolute;
    left: 37%;
  }
  .iconright {
    position: relative;
    right: 37%;
  }
}

.made {
  color: rgb(105, 105, 105);
}
