@font-face {
  font-family: HomemadeApple;
  src: url(../assets/fonts/HomemadeApple-Regular.ttf);
}

* {
  box-sizing: border-box !important;
}

html {
  --mainTheme: #6f389f;
  height: 100%;
  width: 100%;
}

body {
  background-color: #232323 !important;
  width: 100%;
  height: 100%;
  color: whitesmoke !important;
  /* overflow-y: hidden; */
}
