html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--mainTheme: rgb(234, 118, 250);
	--btnHover: rgb(119, 45, 129);
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
.primary{
	color: white;
}
.heading1{
	font-size: 1.5rem;
	font-weight: 400;
}
.heading2{
	font-size: 0.9rem;
}
.semibold{
	font-weight: 800;
}
.link{
	cursor: pointer;
	text-decoration: underline;
}