.wrapper {
  position: relative;
}

.imgContainer {
  position: absolute;
  top: 0;
  left: 0;
}
.imgContainer img {
  height: 100%;
  width: 100%;
}
.formGroup input,
.formGroup textarea {
  position: block;
  background: transparent;
  border: none;
  width: 100%;
}

.formGroup textarea {
  height: 80%;
}
