.imgContainer {
  position: relative;
}
.imgContainer img {
  height: 100%;
  width: 100%;
}

.titleInput,
.contentInput {
  position: absolute;
  border: none;
  background-color: transparent;
  z-index: 2;
  width: 100%;
}

.titleInput {
  top: 0;
  height: 10%;
}

.contentInput {
  bottom: 0;
  height: 90%;
}
